In [23]:
%load_ext autoreload
%autoreload 2

In [56]:
from datetime import datetime 
import pandas as pd
import csv

from api_wrapper import alph_settings as alph, alph_api_wrapper as wrap, threading

In [12]:
settings = alph(
    apikey = "MD27QTTVAK3AJBUQ", 
    site = "https://www.alphavantage.co/query?", 
    date_range = [datetime(2016, 8, 9), datetime(2022, 8, 9)]
    )

In [28]:
#url query inputs 
function = "TIME_SERIES_INTRADAY_EXTENDED"
ticker_lst = ["ES", "WEC"]
interval = "60min"
slice = [[f"year{j}month{i}" for i in range(1, 13)] for j in range(1, 3)]
slice = slice[0] + slice[1]
output = "json"
adjusted = True
urls = wrap.intraday_url(settings, function, ticker_lst, interval, slice, output = output, adjusted = adjusted)

In [57]:
ES_data = threading.thrd_ticker_slices(urls["ES"])
WEC_data = threading.thrd_ticker_slices(urls["WEC"])

Total time elapsed: 2.1468448638916016 seconds
Total time elapsed: 1.6550118923187256 seconds

In [68]:
ES_df = pd.DataFrame(data = ES_data, columns = ["time", "open", "high", "low", "close", "volume"])
WEC_df = pd.DataFrame(data = WEC_data, columns = ["time", "open", "high", "low", "close", "volume"])

ES_df["time"] = pd.to_datetime(ES_df["time"])
ES_df = ES_df.sort_values(by = ["time"])
WEC_df["time"] = pd.to_datetime(WEC_df["time"])
WEC_df = WEC_df.sort_values(by = ["time"])

display(ES_df)
display(WEC_df)

,time,open,high,low,close,volume
1561,2020-11-09 08:00:00,88.7267081486,88.7267081486,88.7267081486,88.7267081486,450
1560,2020-11-09 10:00:00,89.6801497406,91.1905522626,88.5190278019,90.222950647,240176
1559,2020-11-09 11:00:00,90.1521505287,90.8035116163,89.2931090944,90.4316693955,188551
1558,2020-11-09 12:00:00,90.4542310331,90.8412716794,90.1143904657,90.2559907021,124171
1557,2020-11-09 13:00:00,90.3692708913,91.2471923571,90.3031907809,90.9923119316,125800
...,...,...,...,...,...,...
705,2022-10-28 13:00:00,75.72,76.06,75.62,76.05,111268
704,2022-10-28 14:00:00,76.05,76.37,75.94,76.2,166932
703,2022-10-28 15:00:00,76.21,76.765,76.205,76.7592,153028
702,2022-10-28 16:00:00,76.75,77.0,76.68,76.76,511628
701,2022-10-28 17:00:00,76.77,76.77,76.77,76.77,37381

,time,open,high,low,close,volume
2542,2020-11-09 08:00:00,98.6754979055,98.8642602162,98.6754979055,98.8642602162,202
2541,2020-11-09 10:00:00,98.8170696385,100.846264478,98.4233114584,98.7038122521,203744
2540,2020-11-09 11:00:00,98.543364288,99.4682996103,98.0997728579,99.2130929663,131805
2539,2020-11-09 12:00:00,99.2040323754,100.091215236,99.0530225268,99.232346722,129368
2538,2020-11-09 13:00:00,99.4116709171,100.2516632,99.3361659928,100.110091467,104803
...,...,...,...,...,...,...
4,2022-10-28 13:00:00,90.515,90.96,90.43,90.9,125714
3,2022-10-28 14:00:00,90.91,90.94,90.635,90.735,224268
2,2022-10-28 15:00:00,90.72,91.3421,90.72,91.3421,171210
1,2022-10-28 16:00:00,91.35,91.91,91.35,91.62,526877
0,2022-10-28 17:00:00,91.6,91.6,91.6,91.6,40545

In [69]:
ES_df.to_csv(r'C:\Users\ELIZABETH CHENG\source\repos\MLAP\reader\ES_intraday.csv')
WEC_df.to_csv(r'C:\Users\ELIZABETH CHENG\source\repos\MLAP\reader\WEC_intraday.csv')